In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import mysql.connector as msql
from mysql.connector import Error

## fetch the dataset of the population of all cities in the world

In [2]:
data_source = "https://public.opendatasoft.com/api/explore/v2.1/catalog/datasets/geonames-all-cities-with-a-population-1000/exports/csv?lang=fr&timezone=Europe%2FBerlin&use_labels=true&delimiter=%3B"

In [3]:
data = pd.read_csv(data_source, sep=';')

In [4]:
data.head(5)

,Geoname ID,Name,ASCII Name,Alternate Names,Feature Class,Feature Code,Country Code,Country name EN,Country Code 2,Admin1 Code,Admin2 Code,Admin3 Code,Admin4 Code,Population,Elevation,DIgital Elevation Model,Timezone,Modification date,LABEL EN,Coordinates
0,497094,Sengiley,Sengiley,"Sengelei,Sengilej,Sengiley,Сенгилей",P,PPL,RU,Russian Federation,NaN,81,NaN,NaN,NaN,8018,NaN,61,Europe/Ulyanovsk,2016-10-16,Russian Federation,"53.96222, 48.79444"
1,497995,Sebrovo,Sebrovo,"Sebrovo,Себрово",P,PPL,RU,Russian Federation,NaN,84,NaN,NaN,NaN,4496,NaN,77,Europe/Volgograd,2012-01-17,Russian Federation,"50.0981, 43.2976"
2,498430,Satinka,Satinka,"Satinka,Сатинка",P,PPL,RU,Russian Federation,NaN,72,NaN,NaN,NaN,3599,NaN,169,Europe/Moscow,2022-12-20,Russian Federation,"52.37389, 41.66966"
3,498696,Sarany,Sarany,"Saranovskiy,Sarany,Сараны",P,PPL,RU,Russian Federation,NaN,90,NaN,NaN,NaN,1224,NaN,447,Asia/Yekaterinburg,2012-01-17,Russian Federation,"58.5, 58.88333"
4,499616,Sachkovichi,Sachkovichi,"Sachkovichi,Satsjkovitsji,Сачковичи",P,PPL,RU,Russian Federation,NaN,10,NaN,NaN,NaN,1090,NaN,164,Europe/Moscow,2014-09-08,Russian Federation,"52.3459, 32.2246"

In [5]:
# deleting these two colum due to VARCHAR CHARACTER SET utf8 issues
# Tried to use the utf8mb4 character set but still...
del data['Name']
del data['Alternate Names']

### Connecting to mysql database

In [6]:
try:
    conn = msql.connect(host='localhost', 
                           database='geonames', user='root', 
                           password='')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        conn.commit()
except Error as e:
    print("Error while connecting to MySQL", e)

You're connected to database:  ('geonames',)

### Storing my pandas dataframe directly into mysql database table with to_sql function

In [7]:
# import the module
from sqlalchemy import create_engine
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"  
                      .format(user="root", pw="", 
                      db="geonames"))
# Insert whole DataFrame into MySQL
data.to_sql('geonames-all-cities-with-a-population-1000', con = engine, if_exists = 'replace',index=False)

In [8]:
# Execute query
sql = "SELECT DISTINCT `Country name EN`, `Country Code` FROM `geonames-all-cities-with-a-population-1000` WHERE Population > 10000000 ORDER BY `Country name EN` ASC "
cursor.execute(sql)
# Fetch all the records
result = cursor.fetchall()
for i in result:
    print(i)

('Bangladesh', 'BD')
('Brazil', 'BR')
('China', 'CN')
('India', 'IN')
('Korea, Republic of', 'KR')
('Mexico', 'MX')
('Nigeria', 'NG')
('Pakistan', 'PK')
('Russian Federation', 'RU')
('Turkey', 'TR')

### Persist the result on a tabulated separated value file

In [9]:
with open('megapolis_countries.txt', 'w', encoding='utf-8') as f:
    f.write('\n'.join(f'{tup[0]} {tup[1]}' for tup in result))

### Closing DB connexions

In [11]:
# Close the connection
if (conn.is_connected()):
    cursor.close()
    conn.close()
    print("MySQL connection is closed")

MySQL connection is closed