In [21]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

## fetch the dataset of the population of all cities in the world

In [22]:
data_source = "https://public.opendatasoft.com/api/explore/v2.1/catalog/datasets/geonames-all-cities-with-a-population-1000/exports/csv?lang=fr&timezone=Europe%2FBerlin&use_labels=true&delimiter=%3B"

In [23]:
data = pd.read_csv(data_source, sep=';')

In [24]:
data.head(5)

,Geoname ID,Name,ASCII Name,Alternate Names,Feature Class,Feature Code,Country Code,Country name EN,Country Code 2,Admin1 Code,Admin2 Code,Admin3 Code,Admin4 Code,Population,Elevation,DIgital Elevation Model,Timezone,Modification date,LABEL EN,Coordinates
0,497094,Sengiley,Sengiley,"Sengelei,Sengilej,Sengiley,Сенгилей",P,PPL,RU,Russian Federation,NaN,81,NaN,NaN,NaN,8018,NaN,61,Europe/Ulyanovsk,2016-10-16,Russian Federation,"53.96222, 48.79444"
1,497995,Sebrovo,Sebrovo,"Sebrovo,Себрово",P,PPL,RU,Russian Federation,NaN,84,NaN,NaN,NaN,4496,NaN,77,Europe/Volgograd,2012-01-17,Russian Federation,"50.0981, 43.2976"
2,498430,Satinka,Satinka,"Satinka,Сатинка",P,PPL,RU,Russian Federation,NaN,72,NaN,NaN,NaN,3599,NaN,169,Europe/Moscow,2022-12-20,Russian Federation,"52.37389, 41.66966"
3,498696,Sarany,Sarany,"Saranovskiy,Sarany,Сараны",P,PPL,RU,Russian Federation,NaN,90,NaN,NaN,NaN,1224,NaN,447,Asia/Yekaterinburg,2012-01-17,Russian Federation,"58.5, 58.88333"
4,499616,Sachkovichi,Sachkovichi,"Sachkovichi,Satsjkovitsji,Сачковичи",P,PPL,RU,Russian Federation,NaN,10,NaN,NaN,NaN,1090,NaN,164,Europe/Moscow,2014-09-08,Russian Federation,"52.3459, 32.2246"

### Connecting to mysql database

In [45]:
import mysql.connector as mc

try:
    conn = mc.connect(host='localhost', 
                      database='geonames', 
                      user='root', 
                      password='')
    
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        conn.commit()
except Error as e:
    print("Error while connecting to MySQL", e)

You're connected to database:  ('geonames',)

### Storing my pandas dataframe directly into mysql database table with to_sql function

In [46]:
# import the module
from sqlalchemy import create_engine
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}".format(user="root", pw="", db="geonames"))
# Insert whole DataFrame into MySQL
try:
    data.to_sql('geonames-all-cities-with-a-population-1000', con = engine, if_exists = 'replace',index=False)
    conn.commit()
    print("Data Inserterd")
except mc.Error as e:
    print("Unable To Insert Data")

Data Inserterd

In [47]:
# Execute query
sql = "SELECT COUNT(*) FROM `geonames-all-cities-with-a-population-1000`;"
cursor.execute(sql)
# Fetch all the records
result = cursor.fetchall()
print(result)

[(140973,)]

In [50]:
# Execute query
sql = "CREATE INDEX geoname_id_index USING BTREE ON `geonames-all-cities-with-a-population-1000`(`Geoname ID`) "
cursor.execute(sql)

In [51]:
# Execute query
sql = "SELECT DISTINCT `Country name EN`, `Country Code` FROM `geonames-all-cities-with-a-population-1000`\
        WHERE `Geoname ID` NOT IN \
        (SELECT `Geoname ID` \
        FROM `geonames-all-cities-with-a-population-1000` \
        WHERE Population > 10000000) ORDER BY `Country name EN` ASC"
cursor.execute(sql)
# Fetch all the records
result = cursor.fetchall()
print(result)

[(None, 'AQ'), (None, 'AX'), (None, 'BL'), (None, 'BQ'), (None, 'CC'), (None, 'CW'), (None, 'CX'), (None, 'FM'), (None, 'GS'), (None, 'MF'), (None, 'PN'), (None, 'SJ'), (None, 'SX'), (None, 'TF'), (None, 'VA'), (None, 'XK'), (None, 'YT'), ('Afghanistan', 'AF'), ('Albania', 'AL'), ('Algeria', 'DZ'), ('American Samoa', 'AS'), ('Andorra', 'AD'), ('Angola', 'AO'), ('Anguilla', 'AI'), ('Antigua and Barbuda', 'AG'), ('Argentina', 'AR'), ('Armenia', 'AM'), ('Aruba', 'AW'), ('Australia', 'AU'), ('Austria', 'AT'), ('Azerbaijan', 'AZ'), ('Bahamas', 'BS'), ('Bahrain', 'BH'), ('Bangladesh', 'BD'), ('Barbados', 'BB'), ('Belarus', 'BY'), ('Belgium', 'BE'), ('Belize', 'BZ'), ('Benin', 'BJ'), ('Bermuda', 'BM'), ('Bhutan', 'BT'), ('Bolivia', 'BO'), ('Bosnia and Herzegovina', 'BA'), ('Botswana', 'BW'), ('Brazil', 'BR'), ('British Virgin Islands', 'VG'), ('Brunei Darussalam', 'BN'), ('Bulgaria', 'BG'), ('Burkina Faso', 'BF'), ('Burundi', 'BI'), ('Cambodia', 'KH'), ('Cameroon', 'CM'), ('Canada', 'CA'), ('Cape Verde', 'CV'), ('Cayman Islands', 'KY'), ('Central African Republic', 'CF'), ('Chad', 'TD'), ('Chile', 'CL'), ('China', 'CN'), ('Colombia', 'CO'), ('Comoros', 'KM'), ('Congo', 'CG'), ('Congo, Democratic Republic of the', 'CD'), ('Cook Islands', 'CK'), ('Costa Rica', 'CR'), ("Côte d'Ivoire", 'CI'), ('Croatia', 'HR'), ('Cuba', 'CU'), ('Cyprus', 'CY'), ('Czech Republic', 'CZ'), ('Denmark', 'DK'), ('Djibouti', 'DJ'), ('Dominica', 'DM'), ('Dominican Republic', 'DO'), ('Ecuador', 'EC'), ('Egypt', 'EG'), ('El Salvador', 'SV'), ('Equatorial Guinea', 'GQ'), ('Eritrea', 'ER'), ('Estonia', 'EE'), ('Ethiopia', 'ET'), ('Faeroe Islands', 'FO'), ('Falkland Islands (Malvinas)', 'FK'), ('Fiji', 'FJ'), ('Finland', 'FI'), ('France', 'FR'), ('French Guiana', 'GF'), ('French Polynesia', 'PF'), ('Gabon', 'GA'), ('Gambia', 'GM'), ('Georgia', 'GE'), ('Germany', 'DE'), ('Ghana', 'GH'), ('Gibraltar', 'GI'), ('Greece', 'GR'), ('Greenland', 'GL'), ('Grenada', 'GD'), ('Guadeloupe', 'GP'), ('Guam', 'GU'), ('Guatemala', 'GT'), ('Guernsey', 'GG'), ('Guinea', 'GN'), ('Guinea-Bissau', 'GW'), ('Guyana', 'GY'), ('Haiti', 'HT'), ('Honduras', 'HN'), ('Hong Kong, China', 'HK'), ('Hungary', 'HU'), ('Iceland', 'IS'), ('India', 'IN'), ('Indonesia', 'ID'), ('Iran, Islamic Rep. of', 'IR'), ('Iraq', 'IQ'), ('Ireland', 'IE'), ('Isle of Man', 'IM'), ('Israel', 'IL'), ('Italy', 'IT'), ('Jamaica', 'JM'), ('Japan', 'JP'), ('Jersey', 'JE'), ('Jordan', 'JO'), ('Kazakhstan', 'KZ'), ('Kenya', 'KE'), ('Kiribati', 'KI'), ("Korea, Dem. People's Rep. of", 'KP'), ('Korea, Republic of', 'KR'), ('Kuwait', 'KW'), ('Kyrgyzstan', 'KG'), ("Lao People's Dem. Rep.", 'LA'), ('Latvia', 'LV'), ('Lebanon', 'LB'), ('Lesotho', 'LS'), ('Liberia', 'LR'), ('Libyan Arab Jamahiriya', 'LY'), ('Liechtenstein', 'LI'), ('Lithuania', 'LT'), ('Luxembourg', 'LU'), ('Macau, China', 'MO'), ('Macedonia, The former Yugoslav Rep. of', 'MK'), ('Madagascar', 'MG'), ('Malawi', 'MW'), ('Malaysia', 'MY'), ('Maldives', 'MV'), ('Mali', 'ML'), ('Malta', 'MT'), ('Marshall Islands', 'MH'), ('Martinique', 'MQ'), ('Mauritania', 'MR'), ('Mauritius', 'MU'), ('Mexico', 'MX'), ('Moldova, Republic of', 'MD'), ('Monaco', 'MC'), ('Mongolia', 'MN'), ('Montenegro', 'ME'), ('Montserrat', 'MS'), ('Morocco', 'MA'), ('Mozambique', 'MZ'), ('Myanmar', 'MM'), ('Namibia', None), ('Nauru', 'NR'), ('Nepal', 'NP'), ('Netherlands', 'NL'), ('New Caledonia', 'NC'), ('New Zealand', 'NZ'), ('Nicaragua', 'NI'), ('Niger', 'NE'), ('Nigeria', 'NG'), ('Niue', 'NU'), ('Norfolk Island', 'NF'), ('Northern Mariana Islands', 'MP'), ('Norway', 'NO'), ('Oman', 'OM'), ('Pakistan', 'PK'), ('Palau', 'PW'), ('Panama', 'PA'), ('Papua New Guinea', 'PG'), ('Paraguay', 'PY'), ('Peru', 'PE'), ('Philippines', 'PH'), ('Poland', 'PL'), ('Portugal', 'PT'), ('Puerto Rico', 'PR'), ('Qatar', 'QA'), ('Réunion', 'RE'), ('Romania', 'RO'), ('Russian Federation', 'RU'), ('Rwanda', 'RW'), ('Saint Helena', 'SH'), ('Saint Kitts and Nevis', 'KN'), ('Saint Lucia', 'LC'), ('Saint Pierre and Miquelon', 'PM'), ('Saint Vincent and the Grenadines', 'VC'), ('Samoa', 'WS'), ('San Marino', 'SM'), ('Sao Tome and Principe', 'ST'), ('Saudi Arabia', 'SA'), ('Senegal', 'SN'), ('Serbia', 'RS'), ('Seychelles', 'SC'), ('Sierra Leone', 'SL'), ('Singapore', 'SG'), ('Slovakia', 'SK'), ('Slovenia', 'SI'), ('Solomon Islands', 'SB'), ('Somalia', 'SO'), ('South Africa', 'ZA'), ('South Sudan, The Republic of', 'SS'), ('Spain', 'ES'), ('Sri Lanka', 'LK'), ('Sudan, The Republic of', 'SD'), ('Suriname', 'SR'), ('Swaziland', 'SZ'), ('Sweden', 'SE'), ('Switzerland', 'CH'), ('Syrian Arab Republic', 'SY'), ('Taiwan, China', 'TW'), ('Tajikistan', 'TJ'), ('Tanzania, United Republic of', 'TZ'), ('Thailand', 'TH'), ('Timor-Leste', 'TL'), ('Togo', 'TG'), ('Tokelau', 'TK'), ('Tonga', 'TO'), ('Trinidad and Tobago', 'TT'), ('Tunisia', 'TN'), ('Turkey', 'TR'), ('Turkmenistan', 'TM'), ('Turks and Caicos Islands', 'TC'), ('Tuvalu', 'TV'), ('Uganda', 'UG'), ('Ukraine', 'UA'), ('United Arab Emirates', 'AE'), ('United Kingdom', 'GB'), ('United States', 'US'), ('Uruguay', 'UY'), ('Uzbekistan', 'UZ'), ('Vanuatu', 'VU'), ('Venezuela, Bolivarian Rep. of', 'VE'), ('Viet Nam', 'VN'), ('Virgin Islands (US)', 'VI'), ('Wallis and Futuna Islands', 'WF'), ('West Bank and Gaza Strip', 'PS'), ('Western Sahara', 'EH'), ('Yemen', 'YE'), ('Zambia', 'ZM'), ('Zimbabwe', 'ZW')]

### Persist the result on a tabulated separated value file

In [52]:
with open('megapolis_countries.txt', 'w', encoding='utf-8') as f:
    f.write('\n'.join(f'{tup[0]} {tup[1]}' for tup in result))

### Closing DB connexions

In [53]:
# Close the connection
if (conn.is_connected()):
    cursor.close()
    conn.close()
    print("MySQL connection is closed")

MySQL connection is closed