In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import mysql.connector as msql
from mysql.connector import Error

## fetch the dataset of the population of all cities in the world

In [2]:
data_source = "https://public.opendatasoft.com/api/explore/v2.1/catalog/datasets/geonames-all-cities-with-a-population-1000/exports/csv?lang=fr&timezone=Europe%2FBerlin&use_labels=true&delimiter=%3B"

In [ ]:
data = pd.read_csv(data_source, sep=';')

In [ ]:
data.head(5)

In [ ]:
# deleting these two colum due to VARCHAR CHARACTER SET utf8 issues
# Tried to use the utf8mb4 character set but still...
del data['Name']
del data['Alternate Names']

### Connecting to mysql database

In [ ]:
try:
    conn = msql.connect(host='localhost', 
                           database='geonames', user='root', 
                           password='')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        conn.commit()
except Error as e:
    print("Error while connecting to MySQL", e)

### Storing my pandas dataframe directly into mysql database table with to_sql function

In [ ]:
# import the module
from sqlalchemy import create_engine
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"  
                      .format(user="root", pw="", 
                      db="geonames"))
# Insert whole DataFrame into MySQL
data.to_sql('geonames-all-cities-with-a-population-1000', con = engine, if_exists = 'replace',index=False)

In [ ]:
# Execute query
sql = "SELECT DISTINCT `Country name EN`, `Country Code` FROM `geonames-all-cities-with-a-population-1000` WHERE `Country name EN` NOT IN (SELECT `Country name EN` FROM `geonames-all-cities-with-a-population-1000` WHERE Population > 10000000) ORDER BY `Country name EN` DESC LIMIT 5 "
cursor.execute(sql)
# Fetch all the records
result = cursor.fetchall()
for i in result:
    print(i)